.vs-header{
    background-color:#3434ff;
    width: 1200px;
    height: 200px;
    margin: auto;
    margin-top: 2px;
    border-radius: 8px;
}

.vs-search-nav{
    display: flex;
    flex-flow: row;
    padding:0px;
    padding-right: 20px;
    overflow-x: auto;
    overflow-y: hidden;
}

.vs-search-nav>li{
    line-break: normal;
    display: flex;
    flex-flow: row;
    font-size: 40px;
    margin-left: 20px;
    line-height: 25px;
    cursor: pointer;
}

.vs-fast-search-txt{
    font-size: 30px;
    font-weight: bold;
    padding:1px;
}

.vs-ver-line{
    height: 50px;
    border-left: 4px solid #000000;
    margin-right: 20px;

}

.vs-nav{
    direction: rtl;
    justify-content: right;
    background-color:#3434ff;
    width: 1200px;
    height: 50px;
    margin: auto;
    margin-top: 1px;
    border-radius: 3px;
    display: flex;
    flex-flow: row;
 
}

.vs-search-options{
    display: flex;
    flex-flow: row-reverse;
}

.show-my-cart-btn{
    direction: rtl;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.8rem;
    width: 100px;
    height: 50px;
    margin: auto;
    
}

.vs-welcome-title{
    font-family: Guttman Mantova-Decor;
    font-size: 55px;
    margin: 15px 80px;
    color: #ffffff;
    text-shadow: 0 10px 20px #000000;
}

.vs-header-div{
    width:100%;
    display: flex;
    margin-left: auto;
    justify-content: flex-end;

}

.vs-right-header{
    display: flex;
    flex-direction: column;
}

.vs-search{
    margin: 20px 80px 0 auto;
    width: 90%;
}

.search-input{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
}

.vs-search{
    display: flex;
    flex-direction: row-reverse;
}

.vs-logo{
    height: 180px;
    display: flex;
    border: 5px black solid;
    border-radius: 50px;
    margin: 9px;
    justify-content: right;

}

.vs-search-btn{
    margin-left: 5px; 
}

.vs-search-nav::-webkit-scrollbar{
    width: 8px;
    height: 5px;
}

.vs-search-nav::-webkit-scrollbar-thumb{
    background:teal;
    border-radius: 10px;
}

.vs-search-nav::-webkit-scrollbar-track{
    box-shadow: inset 0 0 7px gray;
    border-radius: 20px;
}

.vs-search-nav::-webkit-scrollbar-thumb:hover{
    background: rgb(2, 160, 160)
}