.form-box-main{
 background: rgba(5, 5, 5, 0.5);
 /* cursor: pointer; */
 display: inline-block;
 height: 100%;
 width: 100%;
 position: fixed;
 top:0;
 left: 0;
 text-align: center;
}

.vs-item-amount{
    position: relative;
    top:2px;
height: 35px;
width: 50px;
text-align: center;
margin: 5px;
}

.total-price-txt{
    line-height: 100px;
}

.vs-add-item ,.vs-sub-item{
    height: 36px;
    font-size: 35px;
    line-height: 0px;
    padding-top: 2px;
}

.adj-itm-div{
    margin-top: 20px;
}

.addItemsToCart{
    direction: rtl;
}

.form-box-main .helper{
    height: 100%;
}

.form-box-main>div{
    box-shadow: 0px 0px 30px #555;
    background-color: #ffffff;
    height: auto;
    display: inline-block;
    width: 795px;
    height: 397px;
    border-radius: 3px;
    padding: 10px;
    margin: 100px;
}

.close-form-box{
    background-color: #b1a8a8;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: Arial;
    font-weight: bold;
    position: relative;
    left: 400px;
    top:-20px;
    line-height: 28px;
    font-size: 20px;
    width: 30px;
    height: 30px;
    text-align: center;
}

.close-form-box:hover{
    background-color: #f0f0f0;
}

